!/data_loaders/humanml/data
!/imitation/human_body_prior/src/human_body_prior/data
!/imitation/embodied_pose/data
!/imitation/embodied_pose/env
!/imitation/human_body_prior/support_data/dowloads/amass_sample.npz
!/visualize/joints2smpl/smpl_models/*
!/imitation/human_body_prior/tests/samples/body_pose_rnd.npz
!/imitation/human_body_prior/src/human_body_prior/body_model/parts_segm/smplh/parts_segm.pkl